* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    position: absolute;
    width: 100%;
    padding: 20px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: yellow;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}


.hero {
    height: 80vh;
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background: rgba(0,0,0,0.6);
    padding: 30px 60px;
    text-align: center;
    color: white;
}

.hero-content h1 {
    margin-bottom: 10px;
}

.hero-content button {
    margin-top: 15px;
    padding: 10px 20px;
    background: yellow;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.highlights {
    background: #dff5f4;
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.card {
    width: 250px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card p {
    margin-top: 8px;
    font-weight: bold;
}


footer {
    background: black;
    padding: 20px;
    text-align: center;
}

.social span {
    color: white;
    font-size: 24px;
    margin: 0 15px;
}